.hero-swiper {
  background: var(--bl);
}

.swiper.swiper1 {
  height: 180px;
}

.swiper1 .swiper-slide {
  display: flex !important;
  padding: 24px 20px;
  flex-direction: column;
  justify-content: space-between;
  // height: 180px;
  width: 260px !important;

  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    margin-bottom: 16px;
  }

  div {
    a {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 123%;
      color: var(--orange);
    }
  }

  @media (min-width: 576px) {
    width: 415px !important;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  background: var(--orange);
}
