.brands {
  overflow: hidden;
  height: 120px;
  display: flex;
  position: relative;
  background-color: var(--white);
  margin-bottom: 48px;
  white-space: nowrap;

  &:before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;

    z-index: 2;
  }

  &:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
  }

  &::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  }

  div {
    width: max-content;
    display: flex;
    gap: 0 24px;
    align-items: center;

    animation: animate 35s linear infinite;
  }

  &:hover div {
    animation-play-state: paused;
  }
}

@keyframes animate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
