@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: url('../fonts/BebasNeueCyrillic.woff2');
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v18-latin-300.woff2');
}

@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-v18-latin-regular.woff2');
}

@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-v18-latin-500.woff2');
}

@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-v18-latin-700.woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v29-latin-regular.woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v29-latin-600.woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-v29-latin-700.woff2');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-v40-latin-regular.woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBold.woff2');
}
