<section class="catalog">
  <div class="container">
    <h2>Каталог</h2>
    <div class="catalog-box">
      <a href="#" class="box bike">
        <h3>Велосипеды</h3>
      </a>
      <a href="#" class="box trade">
        <h3>Trade-in</h3>
      </a>
      <a href="#" class="box spares">
        <h3>Запчасти</h3>
      </a>
      <a href="#" class="box accessories">
        <h3>Аксессуары</h3>
      </a>
      <a href="#" class="box equipment">
        <h3>Экипировка</h3>
      </a>
      <a href="#" class="box trainers">
        <h3>Велостанки</h3>
      </a>
    </div>
  </div>
</section>
