<footer class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="footer-form">
        <div class="footer-form-box">
          <h2>Подпишитесь на наши новости</h2>
          <form>
            <input
              id="email"
              type="text"
              placeholder="E-mail"
              class="form-text"
            />
            <button type="submit" class="button">Подписаться</button>
          </form>
          <label class="checkbox-line" for="email">
            <input type="checkbox" class="checkbox" />
            <p class="checkbox-text">
              Согласен(на) на обработку персональных данных
            </p>
          </label>
        </div>
        <!-- <div class="footer-form-img">
          <img src="./images/footer-img.webp" alt="" />
        </div> -->
      </div>

      <div class="footer-list">
        <div class="footer-list-logo">
          <svg width="65" height="35">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
          <p>
            Компания World-bikes специализируется на продаже товаров для
            велосипедного спорта.
          </p>
        </div>
        <ul class="footer-list-nav">
          <li class="footer-list-nav__catalog">
            <ul>
              <li class="footer-list-nav__catalog-title">Каталог</li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Trade-in</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Велосипеды</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Экипировка</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Запчасти</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Велостанки</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Аксессуары</a>
              </li>
            </ul>
          </li>
          <li class="footer-list-nav__catalog">
            <ul>
              <li class="footer-list-nav__catalog-title">Для клиента</li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">О нас</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Доставка и оплата</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Блог</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Контакты</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Веломастерская</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Хранение</a>
              </li>
              <li class="footer-list-nav__catalog-text">
                <a href="#">Гарантии</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="footer-nav-list">
              <li class="footer-list-nav__catalog-title">Контакты</li>
              <li class="footer-nav phone">
                <img src="./images/footer-phone.svg" alt="" />
                <div>
                  <a href="tel:+74950557586">+7 (495) 055-75-86</a>
                  <a href="tel:+74950557586">+7 (965) 142-22-99</a>
                </div>
              </li>
              <li class="footer-nav location">
                <div>
                  <img src="./images/footer-nav.svg" alt="" />
                </div>
                <a href="#">г. Москва, ул. Доватора, 7/8 с1</a>
              </li>
              <li class="footer-nav email">
                <div>
                  <img src="./images/footer-email.svg" alt="" />
                </div>
                <a href="email:order@world-bike.ru">order@world-bike.ru</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="footer-copy">Пользовательское соглашение</p>
      <p class="footer-copy copy-text">© 2023 world bike</p>
    </div>
  </div>
</footer>
