<header class="header header-main">
  <div class="container">
    <div class="header-inner">
      <svg width="65" height="35">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
      <ul class="nav-menu">
        <li><a href="#">Trade In</a></li>
        <li><a href="#">Велосипеды</a></li>
        <li><a href="#">Запчасти</a></li>
        <li><a href="#">Экипировка</a></li>
        <li><a href="#">Аксессуары</a></li>
        <li><a href="#">Велостанки</a></li>
      </ul>
      <ul class="header-nav">
        <li>
          <a href="#">
            <svg width="19" height="19">
              <use href="./images/symbol-defs.svg#icon-seach"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width="19" height="19">
              <use href="./images/symbol-defs.svg#icon-user"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width="19" height="19">
              <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg width="19" height="19">
              <use href="./images/symbol-defs.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="header-button">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line2"></span>
      </div>
    </div>
  </div>
</header>
