<div class="hero-swiper">
  <div class="container">
    <div class="swiper-pagination"></div>
    <div class="swiper swiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p>Экстремальное вождение на горном велосипеде</p>
          <div>
            <a href="#">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <p>Велосипеды для профессионалов</p>
          <div>
            <a href="#">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <p>Долгая поездка на шоссейном велосипеде</p>
          <div>
            <a href="#">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
