<section class="models">
  <div class="container">
    <h2>Лучшие модели для зимней езды</h2>
    <div class="swiper swiper3">
      <div class="swiper-wrapper">
        <div class="swiper-slide card">
          <div class="card-top">
            <img src="./images/new-flag.webp" alt="flag" />
            <p>В наличии</p>
          </div>

          <div class="card-product">
            <div class="card-img">
              <img src="./images/new-product.webp" alt="product" />
            </div>
            <p class="card-text">
              Trek Marlin 7 Matte Nautical Navy Matte Anth ATB 29 2022
            </p>
            <p class="card-price">684 840 ₽</p>
            <button class="button">
              <svg width="26" height="25">
                <use href="./images/symbol-defs.svg#icon-click"></use>
              </svg>
              В 1 клик
            </button>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-top">
            <img src="./images/new-flag.webp" alt="flag" />
            <p>Распродано</p>
          </div>

          <div class="card-product">
            <div class="card-img">
              <img src="./images/new-product1.webp" alt="product" />
            </div>
            <p class="card-text">
              Bianchi AQUILA L DURA ACE DI2 TEAM JUMBO 2021
            </p>
            <p class="card-price">684 840 ₽</p>
            <button class="button">
              <svg width="26" height="25">
                <use href="./images/symbol-defs.svg#icon-click"></use>
              </svg>
              В 1 клик
            </button>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-top">
            <img src="./images/new-flag.webp" alt="flag" />
            <p>Распродано</p>
          </div>

          <div class="card-product">
            <div class="card-img">
              <img src="./images/new-product2.webp" alt="product" />
            </div>
            <p class="card-text">Trek Verve 2 Disc Lithium Grey HYBD 2022</p>
            <p class="card-price">684 840 ₽</p>
            <button class="button">
              <svg width="26" height="25">
                <use href="./images/symbol-defs.svg#icon-click"></use>
              </svg>
              В 1 клик
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div></div>
    <a href="#" class="text">показать все</a>
  </div>
</section>
