<section class="new_wrapper">
  <div class="container">
    <h2>Новинки</h2>
    <div class="swiper swiper2">
      <div class="swiper-arrow">
        <button class="swiper-arrow__left">
          <svg
            width="14"
            height="24"
            viewBox="0 0 14 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.1248 21.0999L0.699805 12.6999C0.599805 12.5999 0.529138 12.4916 0.487805 12.3749C0.445805 12.2582 0.424805 12.1332 0.424805 11.9999C0.424805 11.8666 0.445805 11.7416 0.487805 11.6249C0.529138 11.5082 0.599805 11.3999 0.699805 11.2999L9.1248 2.8749C9.35814 2.64157 9.6498 2.5249 9.9998 2.5249C10.3498 2.5249 10.6498 2.6499 10.8998 2.8999C11.1498 3.1499 11.2748 3.44157 11.2748 3.7749C11.2748 4.10824 11.1498 4.3999 10.8998 4.6499L3.5498 11.9999L10.8998 19.3499C11.1331 19.5832 11.2498 19.8706 11.2498 20.2119C11.2498 20.5539 11.1248 20.8499 10.8748 21.0999C10.6248 21.3499 10.3331 21.4749 9.9998 21.4749C9.66647 21.4749 9.3748 21.3499 9.1248 21.0999Z"
              fill="#101010"
            />
          </svg>
        </button>
        <button class="swiper-arrow__right">
          <svg
            width="14"
            height="24"
            viewBox="0 0 14 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.8752 21.0999L13.3002 12.6999C13.4002 12.5999 13.4709 12.4916 13.5122 12.3749C13.5542 12.2582 13.5752 12.1332 13.5752 11.9999C13.5752 11.8666 13.5542 11.7416 13.5122 11.6249C13.4709 11.5082 13.4002 11.3999 13.3002 11.2999L4.8752 2.8749C4.64186 2.64157 4.3502 2.5249 4.0002 2.5249C3.6502 2.5249 3.3502 2.6499 3.1002 2.8999C2.8502 3.1499 2.7252 3.44157 2.7252 3.7749C2.7252 4.10824 2.8502 4.3999 3.1002 4.6499L10.4502 11.9999L3.1002 19.3499C2.86686 19.5832 2.7502 19.8706 2.7502 20.2119C2.7502 20.5539 2.8752 20.8499 3.1252 21.0999C3.3752 21.3499 3.66686 21.4749 4.0002 21.4749C4.33353 21.4749 4.6252 21.3499 4.8752 21.0999Z"
              fill="#101010"
            />
          </svg>
        </button>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide card">
          <div class="card-top">
            <img src="./images/new-flag.webp" alt="flag" />
            <p>В наличии</p>
          </div>

          <div class="card-product">
            <div class="card-img">
              <img src="./images/new-product.webp" alt="product" />
            </div>

            <p class="card-text">
              Trek Marlin 7 Matte Nautical Navy Matte Anth ATB 29 2022
            </p>
            <p class="card-price">684 840 ₽</p>
            <button class="button">
              <svg width="26" height="25">
                <use href="./images/symbol-defs.svg#icon-click"></use>
              </svg>
              В 1 клик
            </button>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-top">
            <img src="./images/new-flag.webp" alt="flag" />
            <p>Распродано</p>
          </div>

          <div class="card-product">
            <div class="card-img">
              <img src="./images/new-product1.webp" alt="product" />
            </div>

            <p class="card-text">
              Bianchi AQUILA L DURA ACE DI2 TEAM JUMBO 2021
            </p>
            <p class="card-price">684 840 ₽</p>
            <button class="button">
              <svg width="26" height="25">
                <use href="./images/symbol-defs.svg#icon-click"></use>
              </svg>
              В 1 клик
            </button>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-top">
            <img src="./images/new-flag.webp" alt="flag" />
            <p>Распродано</p>
          </div>

          <div class="card-product">
            <div class="card-img">
              <img src="./images/new-product2.webp" alt="product" />
            </div>

            <p class="card-text">Trek Verve 2 Disc Lithium Grey HYBD 2022</p>
            <p class="card-price">684 840 ₽</p>
            <button class="button">
              <svg width="26" height="25">
                <use href="./images/symbol-defs.svg#icon-click"></use>
              </svg>
              В 1 клик
            </button>
          </div>
        </div>

        <div class="swiper-slide card">
          <div class="card-top">
            <img src="./images/new-flag.webp" alt="flag" />
            <p>В наличии</p>
          </div>

          <div class="card-product">
            <div class="card-img">
              <img src="./images/new-product.webp" alt="product" />
            </div>

            <p class="card-text">
              Trek Marlin 7 Matte Nautical Navy Matte Anth ATB 29 2022
            </p>
            <p class="card-price">684 840 ₽</p>
            <button class="button">
              <svg width="26" height="25">
                <use href="./images/symbol-defs.svg#icon-click"></use>
              </svg>
              В 1 клик
            </button>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-top">
            <img src="./images/new-flag.webp" alt="flag" />
            <p>Распродано</p>
          </div>

          <div class="card-product">
            <div class="card-img">
              <img src="./images/new-product1.webp" alt="product" />
            </div>
            <p class="card-text">
              Bianchi AQUILA L DURA ACE DI2 TEAM JUMBO 2021
            </p>
            <p class="card-price">684 840 ₽</p>
            <button class="button">
              <svg width="26" height="25">
                <use href="./images/symbol-defs.svg#icon-click"></use>
              </svg>
              В 1 клик
            </button>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-top">
            <img src="./images/new-flag.webp" alt="flag" />
            <p>Распродано</p>
          </div>

          <div class="card-product">
            <div class="card-img">
              <img src="./images/new-product2.webp" alt="product" />
            </div>

            <p class="card-text">Trek Verve 2 Disc Lithium Grey HYBD 2022</p>
            <p class="card-price">684 840 ₽</p>
            <button class="button">
              <svg width="26" height="25">
                <use href="./images/symbol-defs.svg#icon-click"></use>
              </svg>
              В 1 клик
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <a href="#" class="text">показать все</a>
  </div>
</section>
