<section class="brands">
  <div class="brands-box">
    <img src="./images/partner1.webp" />
    <img src="./images/partner2.webp" />
    <img src="./images/partner3.webp" />
    <img src="./images/partner4.webp" />
    <img src="./images/partner5.webp" />
    <img src="./images/partner6.webp" />
    <img src="./images/partner1.webp" />
    <img src="./images/partner2.webp" />
    <img src="./images/partner3.webp" />
    <img src="./images/partner4.webp" />
    <img src="./images/partner5.webp" />
    <img src="./images/partner6.webp" />
  </div>
</section>
