<section class="video">
  <div class="container">
    <div class="text-top">
      <h2>Ничего не сможет остановить вас</h2>
      <div class="text-box">
        <p>
          Наша компания специализируется на продаже товаров для велосипедного
          спорта — велосипедов, запасных частей, аксессуаров и различного
          спортивного инвентаря для активного спорта и отдыха.
        </p>
        <small> <a href="#">Подробнее</a></small>
      </div>
    </div>
  </div>
  <div class="video">
    <iframe
      width="100%"
      src="https://www.youtube.com/embed/miYA57yjfAI?si=IyLpzupcooEUlrOS&amp"
    ></iframe>
  </div>
  <div class="video-wrapper">
    <div class="container">
      <ul class="video-list">
        <li class="video-item">
          <div class="video-list-title">
            <svg width="32" height="28">
              <use href="./images/symbol-defs.svg#icon-Vector1"></use>
            </svg>
            Европейские бренды
          </div>
          <p>Представляем десятки европейских брендов</p>
        </li>
        <li class="video-item">
          <div class="video-list-title">
            <svg width="32" height="28">
              <use href="./images/symbol-defs.svg#icon-vector2"></use>
            </svg>
            Вечная гарантия
          </div>
          <p>На некоторые бренды предоставляем пожизненную гарантию</p>
        </li>
        <li class="video-item">
          <div class="video-list-title">
            <svg width="32" height="28">
              <use href="./images/symbol-defs.svg#icon-vector3"></use>
            </svg>
            Предпродажная настройка
          </div>
          <p>Специалисты настроят ваш велосипед наилучшим образом</p>
        </li>
        <li class="video-item">
          <div class="video-list-title">
            <svg width="32" height="28">
              <use href="./images/symbol-defs.svg#icon-vector4"></use>
            </svg>
            Доставка за 24 часа
          </div>
          <p>Доставляем товар всеми популярными транспортными компаниями</p>
        </li>
      </ul>
    </div>
  </div>
</section>
